<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>296368390174-nda4au63a3bs4dckgl36c0eq6d5eg49t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.296368390174-nda4au63a3bs4dckgl36c0eq6d5eg49t</string>
	<key>API_KEY</key>
	<string>AIzaSyCfm8eBgZcRHHXp2qtYy9FVJ1Av2LG73eE</string>
	<key>GCM_SENDER_ID</key>
	<string>296368390174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kurumsal</string>
	<key>PROJECT_ID</key>
	<string>kurumsal-mobil</string>
	<key>STORAGE_BUCKET</key>
	<string>kurumsal-mobil.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:296368390174:ios:313af902dc134f2c6d2e0f</string>
</dict>
</plist>